@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --sky: #0086CA;
  --blue: #0A2240;
  --brown: #B4853F;
  --purple: #691C61;
  --orange: #F6871F;
  --green: #246f28;
  --heading: #333333;
  --text: #454545;
}

@font-face {
  font-family: montRegular;
  src: url(./_fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: montThin;
  src: url(./_fonts/Montserrat-Light.ttf);
}


body, html {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
  font-family: "montRegular", sans-serif;
  color: var(--heading);
}

.thin{
  font-family: "montThin", sans-serif;
}
.regular{
  font-family: "montRegular", sans-serif;
}